# ----ARITMETICA----

In [4]:
1 + 2 - 1

2

In [5]:
2 * 2

4

In [6]:
6 / 3

2.0

In [7]:
7 % 2 # ESTO ES PARA VER SI UN NUMERO ES EVEN(PAR) or ODD(IMPAR).

1

In [8]:
2 ** 6 # PARA MULTIPLICAR EL MISMO NUMERO UNA Y OTRA VEZ.

64

In [9]:
2 + 10 * 10 + 3

105

In [10]:
(2+10) * (10+3)

156

In [11]:
1/10

0.1

In [12]:
100 * .1 # PARA VER EL PORCENTAJE

10.0

BASE 2 BINARY. ES IMPORTANTE INVESTIGAR SOBRE ESTO SI TENGO ALGUN PROBLEMA EN UN CODIGO, PUEDE AYUDAR.

# ----VARIABLES----

In [13]:
a = 5

In [14]:
a

5

In [15]:
a * a

25

In [16]:
a = a * a

In [17]:
a

25

In [18]:
a

25

In [19]:
type(a)

int

In [20]:
a = 11.1

In [21]:
type(a)

float

In [22]:
a = '11.1'

In [23]:
a

'11.1'

In [24]:
type(a)

str

In [25]:
my_income = 2750

my_investment = 2000

my_income = my_income - my_investment

In [26]:
my_income

750

# ----STRINGS----

In [27]:
'Hello'

'Hello'

In [28]:
'Hello World'

'Hello World'

In [29]:
"I'm doing something?"

"I'm doing something?"

In [30]:
print('Hello new world one')

Hello new world one

In [31]:
print('Hello new world one')
print('Hello new world two')

Hello new world one
Hello new world two

In [32]:
print('Hello \nworld')

Hello
world

In [33]:
print('Hello \tworld')

Hello 	world

In [34]:
len('Hello')

5

In [35]:
len("I'm the best bro")

16

In [36]:
mystring = 'Hello world'

In [37]:
mystring

'Hello world'

In [38]:
# Subtema: Indexing y Slicing

In [39]:
mystring[2]

'l'

In [40]:
mystring[-1]

'd'

In [41]:
mystring = 'abcdef'

In [42]:
mystring[:2] # EL CODIGO ES [START : STOP : STEP]

'ab'

In [43]:
mystring[1:3]

'bc'

In [44]:
mystring[2:-1]

'cde'

In [45]:
mystring[::]

'abcdef'

In [46]:
mystring[1:4:2]

'bd'

In [47]:
mystring[::-2]

'fdb'

In [48]:
mystring[-2:] * 3

'efefef'

Immutability. Las Strings no se mutan.

In [49]:
name = 'Sam'

In [50]:
name

'Sam'

In [51]:
name[1:]

'am'

In [52]:
# name[1:] = 'P '      Esto esta mal

In [53]:
letter = name[1:]

In [54]:
letter + name

'amSam'

In [55]:
'P' + letter

'Pam'

In [56]:
x = 'Hello world '

In [57]:
x = x + 'Im Lau'

In [58]:
x

'Hello world Im Lau'

In [59]:
y = 'Hola mundo '

In [60]:
y

'Hola mundo '

In [61]:
y = y + 'soy Lau'

In [62]:
y

'Hola mundo soy Lau'

In [63]:
x = 'z'

In [64]:
x * 10

'zzzzzzzzzz'

In [65]:
2 + 3

5

In [66]:
'2' + '3'

'23'

In [67]:
x = 'hello world'

In [68]:
x.upper()

'HELLO WORLD'

In [69]:
x.split()

['hello', 'world']

In [70]:
x.split('h')

['', 'ello world']

In [71]:
x.capitalize()

'Hello world'

# ----f-STRING----

In [72]:
i = 'inserted'

In [73]:
print(f'This is a string {i}')

This is a string inserted

In [74]:
name = 'Lau'
age = 25

In [75]:
print(f'Hi my name is {name} and Im {age}')

Hi my name is Lau and Im 25

In [76]:
result = 100/88

In [77]:
r = result

In [78]:
r

1.1363636363636365

In [79]:
print(f'The result was {r:.4}')

The result was 1.136

In [80]:
f = 'fox'
o = 'orange'
q = 'quick'

In [81]:
print(f'The {o} {f} is {q}')

The orange fox is quick

In [82]:
# Otra manera de hacerlo que es una versión más vieja es: ('The {o} {f} is {q}') .format(o = 'orange' , f = 'fox' , q = 'quick')

In [83]:
('The {o} {f} is {q}') .format(o = 'orange' , f = 'fox' , q = 'quick')

'The orange fox is quick'

# ----LISTS----

In [84]:
my_list = ['one' , 'two' , 'three']

In [85]:
my_list

['one', 'two', 'three']

In [86]:
my_list[0] #TAMBIEN SE PUEDE USAR INDEXING Y SLICING EN LISTS

'one'

In [87]:
my_list[:2]

['one', 'two']

In [88]:
my_list[0] = 'ONE' # LAS LISTS SI SON MUTABLES

In [89]:
my_list

['ONE', 'two', 'three']

In [90]:
another_list = ['four' , 'five']

In [91]:
new_list = my_list + another_list

In [92]:
new_list

['ONE', 'two', 'three', 'four', 'five']

In [93]:
new_list.append('Six')

In [94]:
new_list

['ONE', 'two', 'three', 'four', 'five', 'Six']

In [95]:
new_list.pop()

'Six'

In [96]:
new_list

['ONE', 'two', 'three', 'four', 'five']

In [97]:
popped_variable = new_list.pop()

In [98]:
print(popped_variable)
print(new_list)

five
['ONE', 'two', 'three', 'four']

In [99]:
new_list.pop(1)

'two'

In [100]:
new_list

['ONE', 'three', 'four']

In [101]:
new_list.reverse()

In [102]:
new_list

['four', 'three', 'ONE']

In [103]:
new_list.sort()

In [104]:
new_list

['ONE', 'four', 'three']

In [105]:
mylist = [1,2,3,[4,5]]

In [106]:
mylist[0:3]

[1, 2, 3]

In [107]:
mylist[3][0]

4

In [108]:
list1 = [1,2,3,['hello',2],['three',4]]

In [109]:
list1[4][0]

'three'

# ----DICTIONARIES----

In [110]:
# variable = {'key1': value, 'key2': value2, 'key3': value3}

In [111]:
mystore = {'Potatoes': 2.99, 'Tomatoes': 2.22, 'Chicken': 4.99}

In [112]:
mystore['Potatoes']

2.99

In [113]:
letters = {'first': ['a', 'b','c']}

In [114]:
letters['first'][2]

'c'

In [115]:
new_letter = letters['first'][2].upper()

In [116]:
new_letter

'C'

In [117]:
letters

{'first': ['a', 'b', 'c']}

In [118]:
letters['second'] = ['d' , 'e']

In [119]:
letters

{'first': ['a', 'b', 'c'], 'second': ['d', 'e']}

In [120]:
letters['first'] = ['a' , 'b'] #son mutables

In [121]:
letters

{'first': ['a', 'b'], 'second': ['d', 'e']}

In [122]:
letters.keys() #SI QUERES AGARRAR LAS KEYS

dict_keys(['first', 'second'])

In [123]:
letters.items() #SI QUERES AGARRAR LOS ITEMS

dict_items([('first', ['a', 'b']), ('second', ['d', 'e'])])

In [124]:
letters.values() #SI QUERES AGARRAR LOS VALUES

dict_values([['a', 'b'], ['d', 'e']])

# ----TUPPLES----

In [125]:
tupple = (1,2,3,5,5,5,6,'b') #TUPPLES ARE IMMUTABLE

In [126]:
tupple[:3]

(1, 2, 3)

In [127]:
tupple.index('b') #ESTO NOS DIRA EN QUE POSICION SE ENCUENTRA. INCLUSO SI SE REPITE, SOLO AGARRARÁ LA PRIMERA.

7

In [128]:
tupple.count(5) #ESTO NOS DIRA CUANTAS VECES SE REPITE LO QUE ESTA DENTRO DE LA TUPPLE.

3

# ----SETS----

In [129]:
mylist = set() #ES NECESARIO PARA PODER AGREGAR A LA LIST

In [130]:
mylist.add(1)

In [131]:
mylist

{1}

In [132]:
mylist.add(2)

In [133]:
mylist

{1, 2}

In [134]:
mylist = [1,1,1,1,1,1,1,22,2,2,2,2,4,44,5,55,5,5,5,4,4,'HELLO','HELLO']

In [135]:
set(mylist) #ME AGREGA MI LISTA SIN REPETIR VARIABLES

{1, 2, 22, 4, 44, 5, 55, 'HELLO'}

# ----BOOLEANS----

In [136]:
# True or False

In [137]:
1 < 2

True

In [138]:
b = None #ESTO ES PARA QUE NO TE DE 'TYPE ERROR'. POR SI EN UN FUTURO QUERES REGRESAR A ESTA NOTA Y ASIGNARLE ALGO.

In [139]:
a = 1
b = 3

In [140]:
a == b #SI EL VALOR ES IGUAL DARA TRUE

False

In [141]:
a != b #SI EL VALOR ES DIFERENTE DARA TRUE

True

In [142]:
a > b #SI ES MAYOR DARA TRUE

False

In [143]:
a < b #SI ES MENOR DARA TRUE

True

In [144]:
#RESOLVELO RESPONDIENDO EN TU MENTE SI ES TRUE O FALSE. LUEGO DALE shift+enter 

l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

# True or False?
l_one[2][0] >= l_two[2]['k1']

False

In [145]:
1 == 1 and 2 == 2

True

In [2]:
1 == 1 and 2 != 2 #NECESITA QUE AMBOS SEAN CORRECTOS

False

In [147]:
1 == 1 or 2 != 2 #SOLO NECESITA QUE UNO SEA CORRECTO

True

In [4]:
not 1 == 1  # 'not' HARA QUE OUTPUT FALSE SI LA CONDICION SE CUMPLE Y VICEVERSA

False

# ----FILES I/O----

In [149]:
%%writefile contentfile.txt

Here goes what I want to read later on
Second line of text
Third line of text.

Overwriting contentfile.txt

In [150]:
File = open('contentfile.txt')

In [151]:
pwd #ESTO ES PARA VER EL DIRECTORIO EN EL QUE ESTOY

'C:\\Users\\lauta\\Python Stuff'

In [152]:
File.read()  #PARA LEER TU FILE

'\nHere goes what I want to read later on\nSecond line of text\nThird line of text.\n'

In [153]:
File.seek(0) #PARA OCULTAR TU FILE Y PODER VOLVER A EJECUTAR EL FILE.READ()

0

In [154]:
Read = File.read()

In [155]:
End = File.seek(0)

In [156]:
Read_properly = File.readlines()

In [157]:
Read

'\nHere goes what I want to read later on\nSecond line of text\nThird line of text.\n'

In [158]:
End

0

In [159]:
Read_properly

['\n',
 'Here goes what I want to read later on\n',
 'Second line of text\n',
 'Third line of text.\n']

In [160]:
Close = File.close()

In [161]:
Close

In [162]:
with open('contentfile.txt' , mode='r') as f:      #Para leer un file que yo quiera
    print(f.read())

Here goes what I want to read later on
Second line of text
Third line of text.

In [163]:
with open('contentfile.txt' , mode='a') as f:    #Para agregar texto al archivo
    f.write('\n Fourth line of text')

In [164]:
with open('NewFile.txt' , mode= 'w') as f:     #Para escribir un nuevo archivo con nuevas lineas
    f.write('New file created'
           '\nSecond line'
           '\nThird line')

In [165]:
with open('NewFile.txt' , mode='r') as f:
    print(f.read())

New file created
Second line
Third line

In [166]:
# Windows_File = open("C:\\Users\\Username\\Folder\\test.txt")

#CODIGO PARA BUSCAR EL ARCHIVO QUE DESEAS Y SE ENCUENTRE EN UN DIRECTORIO DIFERENTE

In [167]:
# MacOs or Linux File = open("/Users/YouUserName/Folder/myfile.txt")

#CODIGO PARA BUSCAR EL ARCHIVO QUE DESEAS Y SE ENCUENTRE EN UN DIRECOTRIO DIFERENTE

# ----LOOPS----

In [168]:
family_name = ['Lau Colugio','Mili Colugio','Ana Colugio','Berni Collado']

In [169]:
for fam in family_name:
    #Only family names
    if fam == 'Lau Colugio':
        print(fam)
    elif fam == 'Mili Colugio':
        print(fam)
    elif fam == 'Ana Colugio':
        print(fam)
    else:
        print(f'{fam} is not our family.')

Lau Colugio
Mili Colugio
Ana Colugio
Berni Collado is not our family.

In [170]:
mylist = list(range(1,9))

In [171]:
for num in mylist:
    #Only even numbers
    if num % 2 == 0:
        print(num)
    else:
        print(f'Odd number {num}')

Odd number 1
2
Odd number 3
4
Odd number 5
6
Odd number 7
8

In [172]:
list_sum = 0

for num in mylist:
    list_sum = list_sum + num
    
print(list_sum)

36

In [173]:
for letter in 'Hello World':
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [174]:
tupple = [(1,2,3),('a','b','c')]

for a,b,c in tupple:
    print(a)
    print(c)

1
3
a
c

In [175]:
d = {'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}

In [176]:
for key,value in d.items():
    print(key)

key1
key2
key3

In [177]:
x = 0

while x < 6:
    print(f'The current value of x is {x}')
    
    x = x + 1
else:
    print(f'The current value isnt more {x}')

The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4
The current value of x is 5
The current value isnt more 6

In [178]:
x = [1,2,3]                 #Pass se utiliza para pasar de un loop

for item in x:
    pass
print('end of my script')

end of my script

In [179]:
mystring = 'Sammy'         #Se utiliza para continuar sobre un resultado

for letter in mystring:
    if letter == 'a':
        continue
    print(letter)

S
m
m
y

In [180]:
x = 0

while x < 5:
    if x == 3:
        break
    print(f'The current value of x is {x}')
    
    x = x + 1

The current value of x is 0
The current value of x is 1
The current value of x is 2

Some Loops Excercises

In [181]:
hungry = True

if hungry == True:
    print('Feed me!')
elif hungry == False:
    print('Do not feed me!')
else:
    pass

Feed me!

In [182]:
location = 'CINEMA'

if location == 'autoshop':
    print('Welcome to the autoshop')
elif location == 'bank':
    print('Welcome to the bank!')
else:
    print('Sorry I cant find that location')

Sorry I cant find that location

In [183]:
name = 'Tony'

if name == 'Lautaro':
    print('Hello Lautaro')
elif name == 'Mili':
    print('Hello Mili')
else:
    input('Sorry whats your name?')

Sorry whats your name? Kporex

# ----USEFUL OPERATORS----

In [1]:
mylist = [1,2,3,4]

In [2]:
for num in range(1,5):    #Range funciona como (start,stop,step)
    print(num)

1
2
3
4

In [3]:
list(range(1,20,2))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [4]:
index_count = 0

for letter in 'abcde':
    print('At index {} the letter is {}'.format(index_count,letter))
    index_count += 1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [5]:
index_count = 0
word = 'abcde'

for letter in word:
    print(word[index_count])
    index_count += 1

a
b
c
d
e

In [6]:
word = 'abced'

for index,letter in enumerate(word):
    print(index)
    print(letter)

0
a
1
b
2
c
3
e
4
d

In [7]:
mylist1 = [1,2,3]
mylist2 = ['a','b','c']
mylist3 = [100,200,300]

In [9]:
for a,b,c in zip(mylist1,mylist2,mylist3):
    print(a)
    print(b)
    print(c)

1
a
100
2
b
200
3
c
300

In [11]:
list(zip(mylist1,mylist2))  #PARA CONVERTIR VARIAS LISTAS EN TUPPLE

[(1, 'a'), (2, 'b'), (3, 'c')]

In [12]:
1 in mylist1

True

In [13]:
'x' in ['x','b','c']

True

In [14]:
d = {'key1': 345, 'key2': 459}

In [15]:
'key1' in d

True

In [16]:
345 in d.values()

True

In [25]:
'key1' in d.items()   #NO DARA TRUE NI PONIENDO VALUE O KEY

False

In [26]:
345 in d.keys()

False

In [27]:
mylist = [10,20,30,40,50,60,100]

In [28]:
mynewlist = list(range(1,21))

In [29]:
min(mynewlist)

1

In [30]:
max(mynewlist)

20

In [34]:
from random import shuffle

In [35]:
shuffle(mynewlist)

In [37]:
mynewlist

[19, 14, 17, 7, 3, 12, 4, 10, 1, 15, 13, 6, 20, 5, 2, 16, 9, 8, 18, 11]

In [38]:
from random import randint

In [42]:
ran = randint(0,100) #Te regresa un valor aleatorio entre [a y b]

In [43]:
ran

65

In [45]:
name = input('Whats your name?')

Whats your name? Kpotim

In [46]:
age = int(input('How old are you?'))   #Es necesario el int (integer) porque siempre input te regresa algo como string.

How old are you?20

# ----LIST COMPREHENSION----

In [47]:
myname = 'Lautaro'

In [48]:
mylist = []

for letter in myname:
    mylist.append(letter)

In [49]:
mylist

['L', 'a', 'u', 't', 'a', 'r', 'o']

In [52]:
mylist = [letter for letter in myname] #ESTA ES UNA LIST COMPREHENSION

In [51]:
mylist

['L', 'a', 'u', 't', 'a', 'r', 'o']

In [53]:
mylist = [num**2 for num in range(0,11)]

In [54]:
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [55]:
mylist = [num**2 for num in range(0,11) if num%2==0]

In [56]:
mylist

[0, 4, 16, 36, 64, 100]

In [57]:
celcius = [0,10,20,34.5]

fahrenheit = [((9/5)*grados + 32) for grados in celcius]

In [58]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [59]:
fahrenheit = []

for grados in celcius:
    fahrenheit.append((9/5)*grados + 32)

In [60]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [61]:
mylist = []

for x in [2,4,6,8]:
    for y in [5,10,20]:
        mylist.append(x*y)

In [62]:
mylist

[10, 20, 40, 20, 40, 80, 30, 60, 120, 40, 80, 160]

In [65]:
mylist = [x*y for x in [2,4,6,8] for y in [5,10,20,25]] #COMPREHENSION

In [64]:
mylist

[10, 20, 40, 50, 20, 40, 80, 100, 30, 60, 120, 150, 40, 80, 160, 200]

# ----FUNCTIONS----

In [66]:
def say_hello():
    print('Hello')
    print('how')

In [67]:
say_hello()

Hello
how

In [69]:
def say_hello(name):
    print(f'Hello {name}')

In [70]:
say_hello('Mili')

Hello Mili

In [71]:
def say_hello(name = 'Default'):
    print(f'Hello {name}')

In [72]:
say_hello()

Hello Default

In [73]:
def add_num(num1,num2):
    return num1+num2

In [75]:
add_num(10,20)    #PUEDO AGREGARLE UNA VARIABLE PARA GUARDAR EL RESULTADO

30

In [79]:
def return_result(a,b):      #DIFERENCIA ENTRE PRINT Y RETURN:
    return a + b

In [80]:
def print_result(a,b):
    print(a+b)

In [81]:
result = print_result(10,10)

20

In [83]:
result        #NO DEVUELVE NADA, NO SE PUEDE AGREGAR UNA VARIABLE A PRINT.

In [84]:
result = return_result(10,10)

In [85]:
result

20

In [86]:
def sum_numbers(num1,num2):
    return num1+num2

In [87]:
sum_numbers(10,20)

30

In [88]:
sum_numbers('10','20')

'1020'

In [89]:
def even_num(num):
    return num % 2 == 0

In [90]:
def odd_num(num):
    return num % 2 == 1

In [91]:
even_num(2)

True

In [92]:
odd_num(2)

False

In [93]:
def even_check(lists):
    # return true if any number is even inside a list
    
    for number in lists:
        if number % 2 == 0:
            return True
        else:
            pass
    
    return False

In [97]:
even_check([1,3,5,8])

True

In [100]:
def even_check(lists):
    # return all th even number or odd number on a list
    
    evenlist = []
    oddlist  = []
    
    for num in lists:
        if num % 2 == 0:
            evenlist.append(num)
        elif num % 2 == 1:
            oddlist.append(num)
        
    print(f'The even num are {evenlist}')
    print(f'The odd num are {oddlist}')

In [102]:
even_check(range(1,50))

The even num are [2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48]
The odd num are [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]

# --TUPLE UNPACKING WITH FUNCTIONS--

In [134]:
stock_price = [('APPL',200),('GOOGL',1000),('SWAMP',800)]

In [104]:
for stock,value in stock_price:
    print(stock)
    print(value)

APPL
200
GOOGL
400
SWAMP
500

In [135]:
def stock(a):
    
    current_price = 0 
    name_of_stock = ''
    
    for stock,value in stock_price:
        if value > current_price:
            current_price = value
            name_of_stock = stock
        else:
            pass
    
    #return the stock that has highest value
    return (current_price,name_of_stock)

In [136]:
stock(stock_price)

(1000, 'GOOGL')

In [137]:
employee_work = [('Mili',240),('Ana',350),('Cuchi', 22),('Roberto',8),('Lautaro', 0)]

In [145]:
def check_employee(a):
    
    hours = 0
    employee = ''
    
    for employees,hour in employee_work:
        if hour > hours:
            hours = hour
            employee = employees
        else:
            pass
        
    return (employee,hours)

In [146]:
check_employee(employee_work)

('Ana', 350)

In [142]:
d = {'Mili': 2, 'Ana': 1}

In [149]:
def fam_name(a):
    
    name = ''
    num = 0
    
    for names,value in d.items():
        if value > num:
            num = value
            name = names
        else: 
            pass
    return (name,num)

In [150]:
fam_name(d)

('Mili', 2)

# ----FUNCTIONS EXCERCISES----

In [151]:
def myfunc(a,b,name):
    if a <= b:
        return (f'Hello {name}')
    elif a >= b:
        return (f'Goodbye {name}')

In [152]:
myfunc(5,10,'Mili')

'Hello Mili'

In [153]:
myfunc(10,5,'Mili')

'Goodbye Mili'

# ----BALL GAME----

In [9]:
from random import shuffle

In [10]:
def shuffle_list(mylist):
    shuffle(mylist)
    return mylist

In [11]:
mylist = [' ','O',' ']

In [12]:
shuffle_list(mylist)

[' ', ' ', 'O']

In [13]:
def player_guess():
    
    guess = ''
    
    while guess not in ['0','1','2']:
        guess = input('Pick a number 0,1 or 2')
    
    return int(guess)

In [14]:
player_guess()

Pick a number 0,1 or 22

2

In [27]:
def check_guess(mylist,guess):
    if mylist[guess] == 'O':
        print('Correct!')
    else:
        print('Wrong answer!')
        print(mylist)

In [28]:
#INTIAL LIST
mylist = [' ','O',' ']

#SHUFFLE LIST
mixedlist = shuffle_list(mylist)

#PLAYER 
guess = player_guess()

#CHECK_GUESS
check_guess(mixedlist,guess)

Pick a number 0,1 or 21
Wrong answer!
['O', ' ', ' ']

# ----*ARGS AND **KWARGS----

In [35]:
def myfunc(*args):         #SE USAN PARA PODER METER VARIEDAD DE PARAMETROS.
    return sum(args) * 0.05

In [36]:
myfunc(10,20,30,40,100)

10.0

In [37]:
def myfunc(*args):
    for items in args:
        print(items)

In [38]:
myfunc(1,2,3,4,5)

1
2
3
4
5

In [45]:
def myfunc(**kwargs):  #LOS KWARGS SIRVE PARA QUE TE DEVUELVA LOS PARAMETROS EN FORMA DE DICCIONARIO
    print(kwargs)

In [44]:
myfunc(fruit = 'apple', veggie = 4.99, car = 'ferrari')

{'fruit': 'apple', 'veggie': 4.99, 'car': 'ferrari'}

In [48]:
def myfunc(*args,**kwargs):
    
    print(args)
    print(kwargs)
    
    print('I would like {} {}'.format(args[0],kwargs['food']))

In [49]:
myfunc(10,20,30,cheese = 'veggie',food = 'tomatoes')

(10, 20, 30)
{'cheese': 'veggie', 'food': 'tomatoes'}
I would like 10 tomatoes